@model Proyecto_DSWI_GP3.Models.Tickets

@{
    ViewData["Title"] = "Detalle del Ticket";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container py-4">
    <h1 class="text-center mb-4">Detalle del Ticket</h1>

    <hr />


    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="p-4 border rounded shadow">
    <dl class="row">
        <dt class="col-sm-4">Código del Ticket</dt>
        <dd class="col-sm-8">@Model.IdTicket</dd>

        <dt class="col-sm-4">Código de Compra</dt>
        <dd class="col-sm-8">@Model.IdCompra</dd>

        <dt class="col-sm-4">Zona</dt>
        <dd class="col-sm-8">@Model.IdZona</dd>
    </dl>

            </div>
        </div>
    </div>

    <div class="mt-4 text-center">
        <a asp-action="ListaTickets" class="btn btn-secondary">
            <i class="bi bi-arrow-left"></i> Volver a la lista
        </a>
    </div>
</div>
